@model List<KFA.MyBlog.BLL.ViewModels.User.UserViewModel>

@using KFA.MyBlog.DAL.Entities;
@using Microsoft.AspNetCore.Identity;
@using KFA.MyBlog.BLL.ViewModels;
@inject SignInManager<User> SignInManager;
@inject UserManager<User> UserManager;


@{
    ViewData["Title"] = "Пользователи";
}
<link rel="stylesheet" href="~/css/main-page.css" />

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

@*<h2></h2>*@

<div>
    <h2 class="vert-spacing">Пользователи</h2>
    <div class="my-3 col-md-2">
        <form method="get" asp-controller="User" asp-action="AddUser">
            <input class="btn enter-submit" type="submit" value="Добавить" disabled />
        </form>
    </div>
    @if (SignInManager.IsSignedIn(User))
    {
        @foreach(var user in Model)
        {
            <div class="article-block my-2">
                @foreach (var role in user.UserRoles)
                {
                    <label class="badge bg-info"> ✔ @role.Name</label>
                }
                <div class="my-2">
                    <span>ФИО: @user.First_Name @user.Middle_Name @user.Last_Name</span>
                    <span> Email: @user.Email</span>
                </div>
                <div class="vert-spacing my-2">
                    <a class="btn btn-submit my-2 inline" method="get" asp-action="Update" asp-route-userId="@user.Id">Редактировать</a>
                    @if (User.Identity.Name != user.Login)
                    {
                        <form class="my-2" method="post" asp-controller="User" asp-action="Delete" asp-route-userId=@user.Id>
                            <input class="btn btn-danger inline" type="submit" value="Удалить" />
                        </form>
                    }
                </div>
            </div>
        }
    }
</div>
